@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Gothic&family=Love+Ya+Like+A+Sister&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;

}
body {
    font-size: 16px;
    background-color: #FDC0DF;
    overflow-x: hidden; 
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}
